.history{
    white-space: pre-line;
    text-align: right;
    font-size: 20px;
    margin: 0;
    color: white;
    
  }
  body{
    background: linear-gradient(109.6deg, rgb(57, 185, 240) 11.2%, rgb(58, 184, 241) 91.1%);
  }
  body,#root,.App{
    height: 100vh;
  }
  .container{
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: rgb(57, 77, 212);
    margin: 20vh 40%;
    width: 20%;
    height: 60vh;
    border-radius: 20px;
  }
  .keys{
    display: grid;
    grid-template-columns: 75% 25%;
  }
  .left{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .right{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
  }
  .key{
    color: white;
    font-size: large;
    padding: 5px;
    text-align:center;
  }
  
  .screen{
    background-color: #061d5c;
    border-top-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    display: grid;
    grid-template-rows: 10% 60% 20%;
  }
  .screen h1{
    text-align: right;
    color: white; 
    padding-right: 10px;
    margin: 0;
  }
  @media only screen and (max-width:300px){
    .container{
      margin: 20vh 0;
      width: 100%;
    }
  }
  @media only screen and (min-width:300px){
    .container{
      margin: 20vh 5%;
      width: 90%;
    }
  }
  @media only screen and (min-width:350px){
    .container{
      margin: 20vh 10%;
      width: 80%;
    }
  }
  @media only screen and (min-width:450px){
    .container{
      margin: 20vh 20%;
      width: 60%;
    }
  }
  @media only screen and (min-width:625px){
    .container{
      margin: 20vh 30%;
      width: 40%;
    }
  }
  @media only screen and (min-width:1000px){
    .container{
      margin: 20vh 35%;
      width: 30%;
    }
  }
  @media only screen and (min-width:1150px){
    .container{
      margin: 20vh 40%;
      width: 20%;
    }
  }